.google.button {
  padding: 3px 8px;
  -webkit-border-radius: 2px 2px;
  border: solid 1px rgb(153, 153, 153);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  line-height: 1;
  font-size: .7em;
  vertical-align:middle;
}

.google2.button {
  padding: 4px 10px;
  -webkit-border-radius: 2px 2px;
  border: solid 1px rgb(153, 153, 153);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  line-height: 1;
  font-size: 1.1em;
  vertical-align:middle;
}

.google2.button.blue {
  border-color: rgb(82,108,147);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(82,108,147)));
}

.google.button.blue {
  border-color: rgb(98,202,227);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(98,202,227)));
}

.google.button.red {
  border-color: rgb(136,0,0);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(136,0,0)));
  color: white;
  text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.google.button.green {
  border-color: rgb(76,161,112);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(76,161,112)));
  color: black;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
}

.modalTitles
{
    font-family: 'Kite One', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

#topline
{
    height: 50px;
    width: 100%;
    border: 1px solid black;
    padding-top: 10px;
    
	background-color : #333949;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1b1f27, endColorstr=#333949);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1b1f27, endColorstr=#333949)";
	background-image : -moz-linear-gradient(0% 100% 90deg, #333949, #1b1f27);
	background-image : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b1f27), to(#333949));
}

#leftline
{
    position: absolute;
    width: 30px;
    border: 1px solid black;
    
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
        
	background-color : #333949;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1b1f27, endColorstr=#333949);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1b1f27, endColorstr=#333949)";
	background-image : -moz-linear-gradient(0% 100% 90deg, #333949, #1b1f27);
	background-image : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b1f27), to(#333949));
}

.fullContainer
{
    margin:0px;
    border: 1px solid #666; 
    padding:20px; 
    background:#ffffff;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}



#navigation { font-size:1.5em; width:200px; }
#navigation ul { margin:0; padding:0; }
#navigation li { list-style: none; }
ul.top-level { background:#666; }
 
ul.top-level li {
 border-bottom: #fff solid;
 border-top: #fff solid;
 border-width: 1px;
}

#navigation a {
 color: #fff;
 cursor: pointer;
 display:block;
 height:25px;
 line-height: 25px;
 text-indent: 10px;                   
 text-decoration:none;
 width:100%;
}
 
#navigation a:hover{
 text-decoration:underline;
}

#navigation li:hover {
 background: #f90;
 position: relative;
}

ul.sub-level {
    display: none;
    width: 150px;
    font-size:.75em;
}

li:hover .sub-level {
    background: #999;
    border: #fff solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 75px;
    top: 5px;
}

ul.sub-level li {
    border: none;
    float:left;
    width:150px;
}

/*Seconda Level*/
#navigation .sub-level {
    background: #999;
}
 
/*Third Level*/
#navigation .sub-level .sub-level {
    background: #999;
}

/*RESET STYLES*/
li:hover .sub-level .sub-level {
    display:none;
}
 
.sub-level li:hover .sub-level {
    display:block;
}

legend {
  color:#33FF66;
  }


.viewTask_Name
{
    font-weight:bold;
    font-size:x-large;
    text-decoration:underline;
    font-variant:small-caps;
}

.viewTask_Description
{
    font-size:small;
    font-style:italic;
    font-variant:small-caps;
}

.ShowAdd_Button
{
    font-size:large;
    font-variant:small-caps;
    font-weight:bold;
}

#Category:link {text-decoration:none; color:#33FF66; }
#Category:visited {text-decoration:none; color:#33FF66; }
#Category:hover {text-decoration:underline; color:#33FF66; }
#Category:active {text-decoration:underline; color:#33FF66; }

.CategoryTable
{
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cccccc, endColorstr=#6b6b6b);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#cccccc, endColorstr=#6b6b6b)";
	background-image : -moz-linear-gradient(0% 100% 90deg, #6b6b6b, #cccccc);
	background-image : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#6b6b6b));
}

/* 
    Set the Style for parent CSS Class 
    of Calendar control 
    Parent [CssClass] = myCalendar 
*/  
.myCalendar {  
    background-color: #efefef;  
    width: 200px;  
}  
  
/* 
    Common style declaration for hyper linked text 
*/  
.myCalendar a {  
    text-decoration: none;  
}  
  
/* 
    Styles declaration for top title 
    [TitleStyle] [CssClass] = myCalendarTitle 
*/  
.myCalendar .myCalendarTitle {  
    font-weight: bold;  
}  
  
/* 
    Styles declaration for date cells 
    [DayStyle] [CssClass] = myCalendarDay 
*/  
.myCalendar td.myCalendarDay {  
    border: solid 2px #fff;  
    border-left: 0;  
    border-top: 0;  
}  
  
/* 
    Styles declaration for next/previous month links 
    [NextPrevStyle] [CssClass] = myCalendarNextPrev 
*/  
.myCalendar .myCalendarNextPrev {  
    text-align: center;  
}  
  
/* 
    Styles declaration for Week/Month selector links cells 
    [SelectorStyle] [CssClass] = myCalendarSelector 
*/  
.myCalendar td.myCalendarSelector {  
    background-color: #dddddd;  
}  
  
.myCalendar .myCalendarDay a,   
.myCalendar .myCalendarSelector a,  
.myCalendar .myCalendarNextPrev a {  
    display: block;  
    line-height: 18px;  
}  
  
.myCalendar .myCalendarDay a:hover,   
.myCalendar .myCalendarSelector a:hover {  
    background-color: #cccccc;  
}  
  
.myCalendar .myCalendarNextPrev a:hover {  
    background-color: #fff;  
}  